body {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
#navbar {
    background-color:#808080;
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:8%;
    z-index:1;
}
#master_box { 
    padding-top:4.5%;
    height:100%;
}

#welcomeMessage {
    border:5px dashed grey;
    background-color:#bab9b9;
}

p {
    font-size:120%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
}

#boxChild1 {
    border: 3px solid lightgrey;
    border-left:10px solid grey;
    border-right:10px solid grey;
    box-shadow:1px 5px 15px #888888;
    margin-top:.5%;
    margin-bottom:.5%;
    margin-left:20%;
    margin-right:20%;
    position:relative;
    width:60%;
    height:30%;
}

#boxChild2 {
    border:3px solid lightgrey;
    border-left:10px solid grey;
    border-right:10px solid grey;
    box-shadow:1px 5px 15px #888888;
    margin-top:.5%;
    margin-bottom:.5%;
    margin-left:20%;
    margin-right:20%;
    position:relative;
    width:60%;
    height:30%;
}

#boxChild3 {
    border: 3px solid lightgrey;
    border-left:10px solid grey;
    border-right:10px solid grey;
    box-shadow:1px 5px 15px #888888;
    margin-top:.5%;
    margin-bottom:.5%;
    margin-left:20%;
    margin-right: 20%;
    position:relative;
    width:60%;
    height:30%;
}

#boxChild4 {
    border: 3px solid lightgrey;
    border-left:10px solid grey;
    border-right:10px solid grey;
    box-shadow:1px 5px 15px #888888;
    margin-top:.5%;
    margin-bottom:.5%;
    margin-left:20%;
    margin-right: 20%;
    position:relative;
    width:60%;
    height:30%;
}

footer {
    background-color:#808080;
    color:#bab9b9;
    font-size:90%;
    text-align:center;
    height:15%;
    width:100%;
}







