#mass_Size { 
    color: #E0E0E0 ;
}

#Volume {
    position:  relative;
    left: 80px;
}

#mass {
    position: relative;
    left: 100px;
}

#density {
    position: relative;
    left: 40px;
}

#moon {
    color: #E0E0E0;
    position: relative;
    left: 180px;
}

#jupiter {
    font-family: Comic Sans MS;
    
}

#radius {
    position:  relative;
    left: 100px;
    font-style:  italic;
}

#area {
    position: relative;
    left: 95px;
    font-style: italic;
    
}


#volume {
    position: relative;
    left: 135px;
    font-style:  italic;
    
}

#mass1 {
    position: relative;
    left: 155px;
    font-style: italic;
    
}

#density1 {
    position:  relative;
    left:  90px;
    font-style:  italic;
    
}

#gravity {
    position: relative;
    left: 72px;
    font-style: italic;
    
}

