body {
    background-color: #c3b4b4;
}
#login_Section{
    padding: 4em, 2em, 2em, 2em;
}
#area_Code_Input{
    display: inline;
}
#first_Three_Input{
    display: inline;
}
#last_Four_Input{
    display: inline;
}
#login_Section{
    border: 5px solid black;
}


