body {
    background-image: url(../../resources/images/planets_background.jpg);
    background-repeat: repeat;
    background-position: 0px 0px;
    background-color:  black;
    font-family: 'Trebuchet MS', sans-serif;
}
p {
    font-size:  120%;
}
#navbar {
    background-color: #808080;
    position:  fixed;
    top:  0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 4px solid black;
}
#planet_name {
    padding-left: 15%;
}
#master_box_top {
    padding-top: 8%;
}
#main_info1{
    border: 2px solid black;
    float:  left;
    margin-right: 400px
}
#main_info1 p{
    padding: 0px 3% 0px 3%;
}
#main_info2{
    border: 2px solid black;
    padding-top: 8px;
}
#main_planet_image{
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:  10px;
}
#topic_seperator1 {
    padding: 8px 5% 8px 5%;
    background-color:  #fff;
    border:  4px solid black;
}
#master_box_middle{
    padding: 6px 4% 6px 4%;
}
#secondary_info1 {
    border:  2px solid black;
}
#secondary_picture1 {
    border:  2px solid black;
}
#topic_sub_seperator1{
    padding: 5px 5% 5px 5%;
    background-color:  #fff;
    border:  2px dashed black;  
}
#secondary_info2 {
    border:  2px solid black;
}
#secondary_picture2 {
    border:  2px solid black;
}
#topic_seperator2 {
    padding: 8px 5% 8px 5%;
    background-color:  #fff;
    border:  4px solid black;
}
#master_box_bottom{
    padding: 6px 4% 6px 4%;
}
#moon_info1 {
    border:  2px solid black;
}
#moon_picture1 {
    border:  2px solid black;
}
#topic_sub_seperator2 {
    padding: 5px 5% 5px 5%;
    background-color:  #fff;
    border:  2px dashed black;
    
}
#moon_info2 {
    border:  2px solid black;
}
#moon_picture2 {
    border:  2px solid black;
}
#topic_seperator3 {
    padding: 8px 5% 8px 5%;
    background-color:  #fff;
    border:  4px solid black;
}
#master_box_rover{
    padding: 6px 4% 6px 4%;
    height: 40%;
}
#rover_info1 {
    border:  2px solid black;
    width: 45%;
    padding-bottom: 30px;
}
#rover_picture1 {
    border:  2px solid black;
    width: 40%;
}
#topic_seperator4 {
    padding: 8px 5% 8px 5%;
    background-color:  #fff;
    border:  4px solid black;
    
}
#scroll_bar {
    padding: 10px 4% 5px 4%;
    border: 4px solid black;
    background-color:  #14449c;
    height: 300px;
}
#sitemap {
    height: 100px;
    width: 100%;
    margin-top:  15px;
    background-color: #ff6a00;
    border: 4px solid black;
}
#sitemap p {
}
