body {
    padding-top: 70px;
    width: 1300px;
    background-color: #00ff21;
    font-family: 'Trebuchet MS', sans-serif;
}
#navbar {
    display: block;
    background-color: #808080;
    position:  fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    z-index: 1;
}
ul{
    display:flex;
    white-space: pre;
    
		width:500px;
		height:40px;
        top: 0;
    list-style: none;
    padding-left: 50px;
    
		position:absolute;
        margin-left: 300px;
        
}
a{  
    font-size: 180%;
    padding-left: 10px;
    text-decoration: none;
}

#master_box {
    padding-top: 5%;
}
p {
    font-size:  120%;
}
#BOX_1{
    width:  55%;
    height: 500px;
    float: right;
    border: 1px ;
    border-style: solid;
}
#imgA{
    width: 500px;
    height: 500px;
    float:left;
    border: 2px;
    border-style: dotted;  
}
#BOX_2{
    
    width:  100%;
    height: 300px;
    float: left;
    border: 5px;
    border-style:  solid;
}
#section_break{
    margin-top: 860px;
    background-color: #FFFFFF;
    border: 3px; 
    border-style:dashed;
    width: 100%;
    height: 10px;
}
#section_2_img{
    margin-top: 50px;
     width: 500px;
    height: 500px;
    float:right;
    border: 2px;
    border-style: dotted; 
}
#section_2_box{
    margin-top: 50px;
        width:  55%;
    height: 500px;
    float: left;
    border: 1px ;
    border-style: solid;
}

#section_2_box_2{
        
    width:  100%;
    height: 300px;
    float: left;
    border: 5px;
    border-style:  solid;
}
#section_break_2{
    margin-top: 910px;
    background-color: #FFFFFF;
    border: 3px; 
    border-style:dashed;
    width: 100%;
    height: 10px;
}
#section_3_img{
    margin-top: 50px;
     width: 500px;
    height: 500px;
    float:left;
    border: 2px;
    border-style: dotted; 
}
#section_3_box{
    margin-top: 50px;
        width:  55%;
    height: 500px;
    float: right;
    border: 1px ;
    border-style: solid;
}

#section_3_box_2{
        
    width:  100%;
    height: 300px;
    float: right;
    border: 5px;
    border-style:  solid;
}
#section_break_3{
    margin-top: 910px;
    background-color: #FFFFFF;
    border: 3px; 
    border-style:solid;
    width: 100%;
    height: 10px;
}

#scroll_box{
    margin-top: 50px;
    background-color:#FFF455;
        width:1000px;
        height: 300px;
    margin-left: 200px;

}
	a:link {color:#0000FF;}
	a:hover {color:#000000;}
	a:visited {color:#6A86A5;}