body {
}

#venus_size {
    color: #E0E0E0;
    position:  relative;
    left:  80px;
}

#radius {
    position:  relative;
    left: 100px;
    font-style:  italic;
    
}

#area {
    position: relative;
    left: 95px;
    font-style: italic;
   
}


#volume {
    position: relative;
    left: 135px;
    font-style:  italic;
    
}

#mass1 {
    position: relative;
    left: 155px;
    font-style: italic;
    
}

#density1 {
    position:  relative;
    left:  90px;
    font-style:  italic;
    
}

#gravity {
    position: relative;
    left: 72px;
    font-style: italic;
    
}

#neith {
    position:  relative;
    left: 140px;
    bottom: 40px;
    font-style:  italic;
    color:  white;
    
}

#venus {
    font-family: Comic Sans MS;
}

